.add__review__wrapper{
    position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 100; background: rgba(0,0,0,0.4);
    display: none; justify-content: center; align-items: center;

    &.d-flex{
        display: flex;
    }

    .add__review{
        position: relative; width: 620px; background: $color-white; border-radius: 4px;
        display: flex; gap: 16px; flex-wrap: wrap; padding: 24px;
        .ar__header{
            &:hover{cursor: pointer;}
            position: relative; width: 100%; display: flex; justify-content: flex-end;
            img{
                height: 24px;
            }
        }
        .ar__heading{
            position: relative; width: 100%; display: flex; justify-content: center; flex-wrap: wrap; gap: 8px;
            h2{
                font-size: 24px; color: $color-black; margin: 0px; padding: 0px; width: 100%; text-align: center;
            }
            p{
                margin: 0px; padding: 0px; color: $color-black;
            }
        }
        .stars__wrapper{
            position: relative; width: 100%; display: flex; justify-content: center; gap: 8px; margin-bottom: 32px;
            .star{
                position: relative;
                &:hover{ cursor: pointer; }
                img{
                    height: 40px;
                }
                .first-half, .second-half{ position: absolute; left: 0px; top: 0px; width: 50%; height: 100%; }
                .second-half{margin-left: 50%;}
            }
        }
        .text__form{
            position: relative; width: 100%; flex-wrap: wrap; justify-content: flex-end; gap: 16px; display: none;
            &.d-flex{
                display: flex;
            }

            textarea{height: 120px; background: $color-white; border: 1px solid rgba(0,0,0,0.2); padding: 8px; outline: none; resize: none; }
            .btn-primary{
                padding: 8px 16px;
            }
        }
    }
}
