.video__player{
    position: relative; width: 100%; height: calc(100vh - 200px); display: flex; justify-content: space-between; border-top: 1px solid rgba(255,255,255,0.2);

    $ew_h_h : 50px;
    $ew_f_h : 66px;

    @media screen and (max-width: 800px){
        height: calc(100% - 72px); overflow: hidden;
    }

    &.full_screen{
        .player__wrapper{width: 100%;}
        .episodes__wrapper{width: 0px;}
        .right_arrow{display: flex;}

        @media screen and (max-width: 1000px){
            .player__wrapper{width: calc(100% - 420px);}
            .episodes__wrapper{width: 420px;}
            .right_arrow{display: none;}
        }

        @media screen and (max-width: 800px){
            .player__wrapper{width: 0px; overflow: hidden}
            .episodes__wrapper{width: 100%;}
        }
    }

    .player__wrapper{
        @media screen and (max-width: 1000px){
            width: 100%;
        }

        position: relative; width: calc(100% - 420px); background: $color-black;
        iframe{
            position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; border: 0px;
        }
        .next__video{
            position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.6); z-index: 40; display: flex; align-items: center; justify-content: center;
            .progress-circle:hover{cursor: pointer;}
            .next__video__btn{
                position: relative; width: 100%; display: flex; flex-wrap: wrap; justify-content: center; gap: 8px;
                .up__next, .cancel_id{
                    position: relative; width: 100%; text-align: center;
                    p{
                        color: $color_white; margin: 0px; padding: 0px;
                    }
                    h1{
                        margin-top: 8px; margin-bottom:0px;
                    }
                }
                .cancel_id{
                    p:hover{cursor: pointer; }
                }
            }
        }
    }
    .episodes__wrapper{
        position: relative; width: 420px; height: 100%; background: $color-white; display: flex; align-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 1000px){
            width: 0px;
        }
        .ew__header{
            position: relative; width: 100%; display: flex; justify-content: space-between; padding: 0px 24px; height: $ew_h_h; align-items: center;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            h3, i{
                color: $color-black; margin: 0px; padding: 0px;
            }
            h3{
                font-weight: bold;
            }
            i:hover{cursor:pointer;}
        }

        .ew__body{
            position: relative; width: 100%; height: calc(100% - $ew_h_h - $ew_f_h); overflow: auto; padding: 24px 0px; transition: 0.75s all;
            .se__wrapper{
                position: relative; width: 100%; display: flex; justify-content: space-between; align-items: flex-start; padding: 8px 24px;
                transition: 0.75s all;
                &.current{
                    background: #d1d7dc;
                    //background: rgba(99,118,76,0.6);
                    //.se__w__data{
                    //    .header__{
                    //        p{color:$color-white;}
                    //    }
                    //}
                }
                &.short__desc{
                    .se__w__data{
                        .header__{
                            img{ transform: rotate(180deg); }
                        }
                        .short__description{ display: initial; }
                    }
                }
                .se__w__no{
                    position: relative; width: 30px;
                    p{
                        margin: 0px; padding: 0px; color: $color-black;
                    }
                    .checkbox_w{
                        position: relative; width: 16px; height: 16px; border: 1px solid $color-secondary;
                        img{
                            display: none;
                            position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; max-width: 60%; margin:auto;
                        }
                        &.checked{
                            background: $color-secondary;
                            img{
                                display: initial;
                            }
                        }
                    }
                    .checkbox_w:hover{
                        cursor:pointer;
                    }
                }
                .se__w__data{
                    position: relative; width: calc(100% - 30px); display: flex; flex-wrap: wrap; gap: 4px;
                    p{
                        margin:0px; padding:0px;
                    }

                    .header__{
                        position: relative; width: 100%; display: flex; justify-content: space-between; gap: 16px;
                        p{
                            color: $color-black; font-weight:bold;
                        }
                        img{height: 10px; width: 14px;}
                        img:hover{cursor:pointer;}
                    }
                    .short__description{
                        position: relative; width: 100%; display: none; margin: 4px 0px;
                        p{
                            color: $color-black; font-size: 13px; font-weight: normal; font-family: Josefin Sans, sans-serif;
                        }
                    }
                    .rest__of_data{
                        position: relative; width: 100%; display: flex; justify-content: flex-start; gap: 16px;
                        .duration_w{
                            position: relative; display: flex; gap: 8px; align-items: center;
                            img{
                                height: 12px;
                            }
                            span{
                                font-size:12px; margin:0px; padding:0px;
                            }
                        }
                        .play_btn_w{
                            position: relative; background: $color-primary; padding: 3px 12px; border-radius:3px; opacity: 0; transition: 0.75s all;
                            span{
                                color: $color-white; font-size:12px; margin:0px; padding:0px;
                            }
                        }
                        .play_btn_w:hover{cursor:pointer;}
                    }
                }
            }
            .se__wrapper:hover{
                background: #d1d7dc;
                .se__w__data{
                    .rest__of_data{
                        .play_btn_w{opacity: 1;}
                    }
                }
            }
        }
        .ew__footer{
            position: relative; width: 100%; height: $ew_f_h; padding:0px 24px; // border-top: 1px solid rgba(0,0,0,0.2);
            display: flex; align-items: center; gap: 24px;
            button{
                border: 1px solid $color-primary; border-radius: 0px; display: flex; background: $color-white; color:$color-black;
                gap: 8px;

                height: 32px;
                img{
                    height: 14px;
                }
            }
        }
    }

    .right_arrow{
        position: absolute; right: -124px; top: 60px; height: 36px; border: 1px solid #FFFFFF; gap: 16px; align-items: center;
        padding:0px 16px; transition: 0.75s all; display: none;

        @media screen and (max-width: 1000px){
            display: flex;
        }
        img{
            height: 14px;
        }
        p{margin:0px; padding:0px;}
    }
    .right_arrow:hover{ right:-1px; cursor: pointer; }
}

/**
 *  Other specifications of course
 */

.other__specs{
    position: relative; width: 100%; background: $color-white; padding: 64px 0px; border-top:1px solid rgba(0,0,0,0.2);
    @media screen and (max-width: 800px){
        padding-top: 0px; padding-bottom: 32px;
    }
    .inner__w{
        position: relative; left: calc(50% - ($d-width / 2)); width: $d-width; min-height: 120px; display: flex; flex-wrap: wrap; gap: 32px;
        @media screen and (max-width: $d-width){
            left: 30px; width: calc(100% - 60px);
        }
        @media screen and (max-width: 1100px){
            left: 20px; width: calc(100% - 40px);
        }


        .inner__header{
            position: relative; width: 100%; display: flex; gap: 16px; padding: 8px 0px;
            @media screen and (max-width: 800px){
                justify-content: space-between; background: $color-black; padding: 16px 20px; position: absolute; left: -20px; width: calc(100% + 40px);
            }

            .inner__tab{
                &.active{
                    border-bottom: 1px solid $color-black;
                }
                @media screen and (max-width: 800px){
                    border-bottom: none; padding:8px; border-radius: 4px;
                    &.active{
                        border: none; background: $color-primary;
                    }
                }
                transition: 0.75s all; border-bottom:1px solid $color-white;
                p{
                    margin: 0px; color: $color-black; padding: 0px; font-weight: bold; font-size: 16px;
                }
                img, svg{
                    display: none; height: 20px;
                }

                @media screen and (max-width: 800px){
                    p{display: none;}
                    img, svg{display: flex;}
                }
            }
            .inner__tab:hover{
                border-bottom: 1px solid $color-black; cursor: pointer;
            }
        }
        .inner__body{
            position: relative; width: 100%; min-height: 120px;
            @media screen and (max-width: 800px){
                margin-top: 96px;
            }

            .inner__element{
                &.active{
                    display: flex;
                }
                position: relative; width: 100%; display: none;
                p{ color: $color-black; margin: 0px; padding: 0px; }
            }
            .overview__wrapper{
                gap: 24px; flex-wrap: wrap;
                h1{
                    color: $color-black; width: 100%; margin: 0px; padding: 0px;
                }
                .numbers__w{
                    position: relative; width: 100%; display: flex; gap: 32px;
                    .number{
                        position: relative;

                        .number__header{
                            position: relative; width: 100%; display: flex; justify-content: flex-start; align-items: center; gap: 8px;
                            h4{
                                color: $color-black; margin: 0px; padding: 0px; font-weight: bold; padding-top: 1px;
                                font-size: 18px;
                            }
                            img{
                                height: 16px; margin:0px; padding:0px;
                            }
                        }
                        p{
                            color: $color-black; margin: 0px; padding: 0px; font-size: 14px; margin-top:4px;
                        }
                    }
                }
                .o-row{
                    position: relative; width: 100%; display: flex; align-items: flex-start; gap: 8px;
                    img{
                        height: 16px;
                    }
                    p{ color: $color-black; margin: 0px; padding: 0px; }
                }
                .description{
                    position: relative; width: 100%; padding: 24px; border:1px solid rgba(0,0,0,0.1);
                    p{ color: $color-black; margin: 0px; padding: 0px; }

                    @media screen and (max-width: 800px){
                        border: none; padding:0px;
                    }
                }
            }

            .presenter{
                gap: 32px;
                @media screen and (max-width: 800px){
                    flex-wrap: wrap;
                }
                .img__wrapper{
                    position: relative; width: 300px;
                    img{ width: 100%; }
                    a{
                        text-decoration: none; color:$color-black;
                        h2{ margin: 0px; padding: 0px; color: $color-black; font-size:26px; margin-top:16px; }
                    }
                    @media screen and (max-width: 800px){
                        width: 100%;
                    }
                }
                .text__wrapper{
                    position: relative; width: calc(100% - 332px);
                    @media screen and (max-width: 800px){
                        width: 100%;
                    }
                }
            }

            .my__notes{
                flex-wrap: wrap; gap: 32px;

                .add__note___wrapper{
                    position: relative; width: 100%; display: flex; gap: 16px; flex-wrap: wrap;
                    &.show__textarea{
                        .note__textarea{display: flex;}
                    }
                    .add__new_note{
                        position: relative; width: 100%; display: flex; justify-content: space-between; align-items: center;
                        border: 1px solid $color-primary ;padding: 8px 16px; background: rgba(255,255,255,0.4); border-radius: 4px;
                        &:hover{
                            cursor: pointer;
                            background: $color-primary;
                            transition: 0.75s all;
                            .add__new__note_text{
                                p{color: $color-white;}
                            }
                            .add__new__note_icon{
                                svg{
                                    path{
                                        fill: $color-white;
                                    }
                                }
                            }
                        }
                        .add__new__note_text{
                            width: calc(100% - 60px); display: flex; gap: 8px;
                            p{
                                margin: 0px; padding: 0px; transition: 0.75s all;
                            }
                            .note__time{
                                font-weight: bold;
                            }
                        }
                        .add__new__note_icon{
                            display: flex; justify-content: flex-end; align-items: center;
                            svg{
                                height: 16px;
                                path{
                                    transition: 0.75s all;
                                }
                            }
                        }
                    }
                    .note__textarea{
                        position: relative; width: 100%; display: none; flex-wrap: wrap; gap: 16px;
                        textarea{
                            width: 100%; min-height: 120px; background: rgba(255,255,255,0.4); padding: 16px;
                            &:focus{
                                outline: none;
                            }
                        }
                        .save__btn{
                            position: relative; width: 100%; display: flex; justify-content: flex-end;
                            .btn-primary{
                                padding: 8px 16px;
                            }
                        }

                        .form-control:focus {
                            border-color: $color-secondary;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px $color-secondary;
                        }
                    }
                }

                .all__notes{
                    position: relative; width: 100%; display: flex; justify-content: flex-start; gap: 24px; flex-wrap: wrap; transition: 0.75s all;

                    .single__note{
                        position: relative; width: calc(25% - 18px); background: rgba(255,255,255,0.4); display: flex; flex-wrap: wrap; border-radius: 8px; gap: 16px;
                        padding: 16px; flex-direction: column; transition: 0.75s all;

                        @media screen and (max-width: 1100px){
                            width: calc(33.33% - 16px);
                        }
                        @media screen and (max-width: 800px){
                            width: calc(50% - 12px);
                        }
                        @media screen and (max-width: 800px){
                            width: calc(100% - 0px);
                        }
                        .note__header{
                            position: relative; width: 100%; display: flex; justify-content: space-between; align-items: center;
                            .time__badge{
                                padding: 2px 8px; background: $color-primary-hover; border-radius: 4px;
                                p{
                                    margin: 0px; padding: 0px; color: $color-white;
                                }
                            }
                            .icons__wrapper{
                                display: flex; gap: 0px;
                                .icon__wrapper{
                                    padding: 8px 8px; border-radius: 4px; transition: 0.75s all;
                                    &:hover{
                                        background: $color-dark-grey-hover; cursor: pointer;
                                        i{
                                            color: $color-white;
                                        }
                                    }
                                    i{
                                        font-size: 12px; transition: 0.3s all;
                                    }
                                }
                            }
                        }
                        .note__body{
                            position: relative; width: 100%; margin-bottom: 32px;
                            h2, p{
                                color: $color-black;
                            }
                            h2{font-weight: bold; color: $color-secondary;}
                            p{
                                margin-top: 8px;
                            }
                        }
                        .note__footer{
                            position: absolute; bottom: 16px; width:calc(100% - 32px);
                            p{
                                display: flex; justify-content: flex-end;
                                p{
                                    color: $color-black; margin: 0px; padding: 0px;
                                }
                            }
                        }
                    }
                }
            }

            .reviews{
                width: 100%; flex-wrap: wrap; gap: 64px;
                .reviews__global{
                    position: relative; width: 100%; display: flex; justify-content: space-between; gap: 32px;
                    @media screen and (max-width: 800px){
                        flex-wrap: wrap; flex-direction: column-reverse;
                    }
                    .rg__wrapper{
                        position: relative; width: calc(50% - 0px); display: flex; flex-wrap: wrap; gap: 8px; flex-direction: column;
                        &.rg__wrapper__small{
                            width: 25%;
                            @media screen and (max-width: 800px){ width: auto; }
                        }
                        p, h1{
                            width: 100%; margin: 0px; padding: 0px; color: $color-black;
                        }
                        h1{
                            font-size: 32px; font-weight: bold; color: $color-primary;
                        }
                        .heading__wrapper{
                            display: flex; width: 100%; justify-content: flex-start; gap: 24px; align-items: center;
                            h1{width: initial; }
                            .stars__wrapper{
                                display: flex; gap: 4px;
                                img{
                                    height: 20px;
                                }
                            }
                        }

                        &.rg__wrapper__big{
                            gap: 0px;
                        }
                        .rate__no{
                            width: 100%; align-items: center; display: flex; justify-content: flex-start; gap: 8px;
                            p{
                                width: initial; margin: 0px; padding: 0px;
                            }
                            .stars__no{
                                display: flex; gap: 4px; align-items: center;
                                img{
                                    height: 14px;
                                }
                            }
                            .rate__line{
                                width: calc(100% - 20px); height: 6px; background: $color-secondary; border-radius: 1px;
                            }
                        }

                        @media screen and (max-width: 800px){ width: 100%; }
                    }
                    .line__between{
                        height: 100%; width: 2px; display: flex; align-items: center;
                        @media screen and (max-width: 800px){
                            display: none;
                        }
                        .fill{
                            height: calc(100% - 24px); background: rgba(0,0,0,0.1); width: 2px;
                        }
                    }
                }
                .single__reviews{
                    position: relative; width: 100%;  min-height: 120px; display: flex; flex-wrap: wrap; gap: 32px;
                    .single__review{
                        position: relative; width: 100%; display: flex; justify-content: space-between; border-bottom: 1px solid rgba(0,0,0,0.1); padding-bottom: 32px;
                        @media screen and (max-width: 800px){ flex-wrap: wrap; gap: 16px; }
                        .user__info{
                            position: relative; width: 300px; display: flex; gap: 16px;
                            @media screen and (max-width: 800px){
                                width: 100%;
                            }
                            .ui__img_w{
                                width: 60px; height: 60px; border-radius: 4px; background: $color-primary; display: flex; align-items: center; justify-content: center; overflow: hidden;
                                h2{
                                    font-size: 18px; font-weight: bold; text-transform: uppercase;
                                }
                                img{
                                    position: relative; min-width: 100%; min-height: 100%; max-width: 150%; max-height: 150%; height: auto; object-fit: cover;
                                }
                            }
                            .ui__info{
                                display: flex; gap: 8px; flex-wrap: wrap; flex-direction: column;
                                h2, p{
                                    color: $color-black; margin: 0px; padding: 0px; width: 100%;
                                }
                                h2{
                                    font-size: 24px;
                                }
                            }
                        }
                        .review__info{
                            position: relative; width: calc(100% - 332px); display: flex; flex-wrap: wrap; gap: 16px;
                            @media screen and (max-width: 800px){ width: 100%; }
                            .stars__and__date{
                                position: relative; width: 100%; display: flex; gap: 16px; align-items: center; align-content: center;
                                .stars{
                                    display: flex; gap: 2px;
                                    .star{
                                        img{
                                            height: 16px !important;
                                        }
                                    }
                                }
                                p{
                                    margin-top: 2px;
                                }
                            }
                            .note{
                                min-height: 20px;
                            }
                        }
                    }
                    .single__review:last-child{border-bottom: none;}
                }
            }
            .rest_of_episodes{
                position: relative; justify-content: space-between; gap: 24px; flex-wrap: wrap;
                .ie_roe__wrapper{
                    position: relative; width: 100%; display: flex; justify-content: space-between; gap: 24px;

                    @media screen and (max-width: 800px){
                        flex-wrap: wrap;
                    }

                    @import "../shared/single__episode";
                }
                .all__episodes{
                    position: relative; width: 100%; display: flex; justify-content: flex-end;
                    a{
                        text-decoration: none;
                        .btn-secondary {
                            padding: 8px 16px;

                            &:hover {
                                background-color: rgba(30, 28, 28, 0.6) !important;
                            }

                            &:focus {
                                background-color: rgba(30, 28, 28, 0.6) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
