.episodes{
    position: relative; width: 100%; min-height: 120px; background: $color-black; display: flex; justify-content: center;
    .inner__wrapper{
        position: relative; width: $d-min-width; display: flex; justify-content: space-between; gap: 24px; flex-wrap: wrap; padding: 64px 0px;

        @media screen and (max-width: $d-min-width){
            width: calc(100% - 60px);
        }
        @media screen and (max-width: 800px){
            width: calc(100% - 40px);
            padding: 32px 0px;
        }

        @import "single__episode";
        .all__episodes{
            position: relative; width: 100%; display: flex; justify-content: flex-end;
        }
    }
}
