.accordion-wrapper{
    background-color: #E7E7E7;
    padding: 32px 0px;

    &.accordion-wrapper-dark{
        background-color: $color-black;
        .faq-heading{
            h1, p{
                color: $color-white;
            }
        }
        .course-accordion{
            color: $color-white;
        }
        button.course-accordion.active,
        button.course-accordion:hover,
        button.course-accordion.active:after {
            color: $color-white;
        }
        .course-panel{
            h1, h2, h3, h4, h5, h6, p, span{
                margin: 0px; padding: 0px !important; color: $color-white !important;
            }
            color: $color-white !important;
        }
    }
}
p {
    color: $color-white;
    padding: 16px 8px;
    font-size: 14px;

}

.faq-heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    p {

        // color: $color-white;
        color: $color-black;
        padding: 0px 0px;
        font-size: 14px;
    }

    h1 {
        // color: $color-white;
        color: $color-black;
        font-size: 32px;
    }
}

h1 {
    // color: $color-white;
    font-size: 32px;
}


.accordion-container {
    max-width: $d-width;
    margin: 0 auto;

}

button.course-accordion {
    background-color: transparent;
    // color: $color-white;
    color: $color-black;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-style: normal;
    border-top: 2px solid $color-secondary;

    display: flex; justify-content: space-between; align-items: flex-start; gap: 16px;
}

/*When the button is active or mouse hovers*/
button.course-accordion.active,
button.course-accordion:hover {
    background-color: $color-secondary;
    color: $color-white;
}

/*button not active*/
button.course-accordion:after {
    content: '\002B';

    float: right;
    margin-left: 5px;
    transform: scale(150%);
}

/* minus button */
button.course-accordion.active:after {
    content: "\2212";
    font-size: 18px;
    color: $color-white;
}

.course-panel-text-w{
    margin: 16px 0px;
}

div.course-panel {
    padding: 0 16px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 96%;
    line-height: 1.6em;
    letter-spacing: .4px;
    font-weight: 400;
    font-style: normal;
    // color: rgba(0, 0, 0, .88);;

    color: $color-black;
    //p {
    //    color: $color-white;
    //
    //    padding: 16px 8px;
    //    font-size: 14px;
    //    letter-spacing: 0.4px;
    //}

    h1, h2, h3, h4, h5, h6, p, span{
        margin: 0px; padding: 0px !important; color: $color-black !important;
    }
}

@media screen and (max-width: $d-width) {
    .accordion-container {
        left: 30px; width: calc(100% - 60px);
        margin: 0 auto;
    }
}
@media screen and (max-width: 1100px) {
    .accordion-container {
        left: 20px; width: calc(100% - 40px);
        margin: 0 auto;

        .faq-heading {
            text-align: center;
        }
    }
}


@media screen and (max-width: 600px) {
    .accordion-container {
        width: 100%;
        max-width: 1100px;
        padding: 0px 16px;
    }
}
