.container-menu {
    padding: 0px 0px;
    margin: 0px 0px;
    width: 100%;
    background-color: $color-black;
    height: 72px;
    min-width: 180px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 100;
    .menu {
        position: relative;
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
        max-width: $d-width;
        left: calc(50% - ($d-width / 2));
        height: 100%;
        gap: 32px;

        @media screen and (max-width: $d-width){
            left:30px; max-width: calc(100% - 60px);
        }
        @media screen and (max-width: $ds-width){
            left:20px; max-width: calc(100% - 40px);
        }

        .logo {
            display: flex;
            align-items: center;
            align-content: center;
            height: 100%;

            img {
                height: 60%;
            }
        }

        .list {
            display: flex;
            align-items: center;
            height: 100%;
            // width: 100%;
            justify-content: center;

            // justify-content: center;
            ul {
               //  padding: 6px 16px 1px;
                padding: 0px;

                li {
                    display: inline;
                    margin: 10px;

                    a {
                        text-decoration: none;
                        font-size: 14px;
                        transition: all 0.75s;

                        &:hover {
                            color: white;
                            transition: all 0.75s;
                        }
                    }
                }
                .episode-title{
                    display: flex; height: 40px; gap: 8px;
                    a{
                        margin: 0px; padding: 0px;
                    }
                    i{
                        transform: rotate(90deg); margin: 0px; padding: 0px;
                    }
                }
            }
        }

        .action-btn {
            position: absolute; right: 0px;
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 8px;
            min-width: 250px;

            .btn-secondary {
                height: 32px;
                padding: 6px 16px;
                display: flex; align-items: center;

                &:hover {
                    background-color: $color-dark-grey-hover !important;
                    border: 1px $color-dark-grey-hover solid;
                    transition: 0.75s;
                    color: $color-white;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                    background-color: $color-dark-grey-hover !important;
                    border: 1px $color-dark-grey-hover solid;
                    color: $color-white;
                }

                p{
                    margin: 0px; padding: 0px; font-size: 14px; margin-top: 2px;
                }
                svg{
                    height: 14px; margin: 0px; padding: 0px;
                }
            }

            .btn-primary {
                height: 32px;

            }
        }

        .episode-title {
            display: flex;
            flex-direction: row;
            gap: 4px;
            color: $color-white;
            width: 100%;
            justify-content: center;
            line-height: 1.5rem;
            align-items: center;


            h2 {
                font-size: 16px;
            }

            i {
                padding-top: 8px;
                rotate: -90deg;
            }

            a {
                text-decoration: none;
            }
        }

        .toggle {
            display: none;
        }

        #toggle div {
            height: 3px;
            background: $color-white;
            margin: 5px auto;
            transition: all 0.3s;
            backface-visibility: hidden;
            cursor: pointer;
        }

        #toggle.on .one {
            transform: rotate(45deg) translate(4px, 4px);
        }

        #toggle.on .two {
            opacity: 0;
        }

        #toggle.on .three {
            transform: rotate(-45deg) translate(7px, -8px);
        }

        @media screen and (max-width: 900px) {
            justify-content: space-between;

            .list {
                display: none;
            }
            .episode-title {
                display: none;
            }
            .action-btn {
                display: none;
            }
            .menu {
                // padding: 0px 16px;
            }
            .toggle {
                display: block;
            }

            #toggle {
                width: 28px;
                height: 30px;
                margin: 10px;
                display: inline;
            }
        }
    }
}

.mobile-menu {
    display: none;
}

.mobile-menu.on {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: $color-black;
    height: 100vh;
    gap: 40px;
    padding-top: 32px;
    padding-left: 32px;

    .episode-title {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: $color-white;
        width: 100%;
        justify-content: start;
        line-height: 1.5rem;



        h2 {
            font-size: 16px;
        }

        i {
            display: none;
        }

        a {
            text-decoration: none;
        }
    }

    .list {
        display: flex;
        flex-direction: column;

        ul {
            li {
                display: block;
                margin: 18px;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    transition: all 0.75s;

                    &:hover {
                        color: white;
                        transition: all 0.75s;
                    }
                }
            }
        }

    }

    .action-btn {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .btn-secondary {
            border: 1px solid $color-white;
            height: 32px;
        }
        .btn-primary{
            height: 32px; padding-top: 8px;
        }
    }
}

@media screen and (max-width: 830px) {
    .menu {
        // padding: 0px 16px;
    }
}

.container-menu.on {
    position: sticky;
    top: 0;
    z-index: 300;
}

.m-mobile-m {
    display: none;
}

@media screen and (max-width: 830px) {
    .menu_list {
        display: none;
    }
}
