.sp__inner_w{
    position: relative; width: $d-width; left: calc(50% - ($d-width / 2)); min-height: 120px;
    display: flex; justify-content: left; gap: 24px; flex-wrap: wrap;
    flex-direction: row;

    @media screen and (max-width: $d-width){
        left: 30px; width: calc(100% - 60px);
    }
    @media screen and (max-width: 1100px){
        left: 20px; width: calc(100% - 40px);
    }

    .sp__content{
        position: relative; width: 100%; display: flex; justify-content: space-between; gap: 64px; overflow: visible;
        @media screen and (max-width: 800px){
            flex-wrap: wrap; gap: 32px;
        }
        .sp__data{
            position: relative; width: calc(100% - 364px); gap: 64px; display: flex; flex-wrap: wrap; flex-direction: column; padding-top: 32px;

            @media screen and (max-width: 800px){
                width: 100%; gap: 32px; display: flex; flex-wrap: wrap;
            }

            .cover__image{
                position: relative; width: 100%; border-radius: 16px; overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .text__info{
                h1,h2,h3,h4,h5,p,span,a{
                    color: $color-white; margin: 0px; padding: 0px;
                }
            }

            .episode__info{
                position: relative; width: 100%; display: flex; justify-content: space-between; gap: 32px;
                @media screen and (max-width: 800px){
                    flex-wrap: wrap; flex-direction: column-reverse;
                }
                .ei__img{
                    position: relative; width: calc(50% - 16px); border-radius: 16px; overflow: hidden;
                    img{
                        width: 100%;
                    }
                    @media screen and (max-width: 800px){
                        width: 100%;
                    }
                }
                .ei__rest{
                    position: relative; width: calc(50% - 16px); display: flex; align-items: center; justify-content: center;
                    @media screen and (max-width: 800px){
                        width: 100%;
                    }
                    .ei_r_data{
                        position: relative; width: 100%; display: flex; gap: 32px; flex-wrap: wrap; max-width: 70%;
                        @media screen and (max-width: 1300px){
                            max-width: 80%;
                        }
                        @media screen and (max-width: 1200px){
                            max-width: 90%;
                        }
                        @media screen and (max-width: 1100px){
                            max-width: 100%;
                        }
                        @media screen and (max-width: 800px){
                            width: 100%;
                        }
                        .full-width{
                            position: relative; width: 100%;
                        }
                        .d-center{
                            display: flex; justify-content: center;
                            button{
                                background-color: $color-dark-grey-hover !important; color: #FFF;
                            }
                            .btn-tertiary{
                                background-color: $color-secondary !important;
                            }
                        }
                        h1{
                            color: $color-white; font-size: 40px; width: 100%; text-align: center;
                        }
                        h2{
                            color: $color-white; font-size: 32px; width: 100%; text-align: center; text-transform: uppercase;
                        }

                        .btns__wrapper{
                            display: flex; width: 100%; justify-content: center; gap: 16px;
                            button{
                                width: calc(100% - 16px);
                                display: flex; gap: 8px; align-items: center; justify-content: center; padding: 8px 0px;
                                font-size: 14px; background: #717070; border: 1px solid #717070; font-weight: 400; line-height: 0.8; transition: 0.75s; border-radius: 6px;
                                i{
                                    font-size: 14px;
                                }
                            }
                            .play-btn{
                                background-color: $color-primary !important; border: 1px $color-primary solid; color: $color-white;


                                &:hover {
                                    background-color: $color-primary-hover !important;
                                    border: 1px $color-black solid;
                                    transition: 0.75s;
                                }

                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                    background-color: $color-primary-hover;
                                    border: 1px $color-black solid;
                                }
                            }
                            .watch-trailer{
                                &:hover {
                                    border: 1px $color-black solid;
                                    transition: 0.75s;
                                }

                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                    border: 1px $color-black solid;
                                }
                            }
                        }
                        .tags__wrapper{
                            display: flex; width: 100%; justify-content: center; gap: 16px;
                            button{
                                border:none; border-radius: 12px; background: #2E2D2D;
                                display: flex; gap: 8px; align-items: center; justify-content: center; padding: 6px 16px;
                                font-size: 14px; color: $color-white;
                            }
                        }
                        .details__inner{
                            display: flex; gap: 16px; padding: 6px 16px; align-items: center; background: $color-dark-grey-hover;
                            justify-content: center;
                            @media screen and (max-width: 1000px){
                                // width: 100%; height: auto;
                            }
                            p, span{
                                color: $color-white; margin: 0px; padding: 0px;
                            }
                            .icon_btn{
                                display: flex; gap: 8px; align-items: center;
                                i{
                                    color:$color-white; font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @import "../blog/categories";
    }
}
