.stars-1{
    .svg__wrapper{
        svg{
            .star-1{ fill: $color-secondary; }
            .star-2{ fill: $color-primary; }
            .star-3{ fill: $color-primary; }
            .star-4{ fill: $color-primary; }
            .star-5{ fill: $color-primary; }
        }
    }
}
.stars-2{
    .svg__wrapper{
        svg{
            .star-1{ fill: $color-secondary; }
            .star-2{ fill: $color-secondary; }
            .star-3{ fill: $color-primary; }
            .star-4{ fill: $color-primary; }
            .star-5{ fill: $color-primary; }
        }
    }
}
.stars-3{
    .svg__wrapper{
        svg{
            .star-1{ fill: $color-secondary; }
            .star-2{ fill: $color-secondary; }
            .star-3{ fill: $color-secondary; }
            .star-4{ fill: $color-primary; }
            .star-5{ fill: $color-primary; }
        }
    }
}
.stars-4{
    .svg__wrapper{
        svg{
            .star-1{ fill: $color-secondary; }
            .star-2{ fill: $color-secondary; }
            .star-3{ fill: $color-secondary; }
            .star-4{ fill: $color-secondary; }
            .star-5{ fill: $color-primary; }
        }
    }
}
.stars-5{
    .svg__wrapper{
        svg{
            .star-1{ fill: $color-secondary; }
            .star-2{ fill: $color-secondary; }
            .star-3{ fill: $color-secondary; }
            .star-4{ fill: $color-secondary; }
            .star-5{ fill: $color-secondary; }
        }
    }
}
