.remove__profile__wrapper{
    position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 100; background: rgba(0,0,0,0.4);
    display: none; justify-content: center; align-items: center;

    &.d-flex{
        display: flex;
    }

    .remove__profile{
        position: relative; width: 620px; background: $color-white; border-radius: 4px;
        display: flex; gap: 16px; flex-wrap: wrap; padding: 24px;

        @media screen and (max-width: 800px){
            left: 0px; width: calc(100% - 40px);
        }
        .rp__header{
            &:hover{cursor: pointer;}
            position: relative; width: 100%; display: flex; justify-content: flex-end;
            img{
                height: 24px;
            }
        }
        .rp__heading{
            position: relative; width: 100%; display: flex; justify-content: center; flex-wrap: wrap; gap: 8px;
            h2{
                font-size: 24px; color: $color-black; margin: 0px; padding: 0px; width: 100%; text-align: center;
            }
            p{
                margin: 0px; padding: 0px; color: $color-black;
            }
        }

        .buttons__wrapper{
            position: relative; width: 100%; display: flex; justify-content: flex-end; gap: 16px; margin-top: 32px;
        }
    }
}
