$color-white: #E4E2DF;
$color-ten: #E4E2DF;
$color-black: #1E1C1C;
$color-primary: #63764C;
$color-primary-hover: #8d9c7a;
$color-secondary: #73394A;
$color-disabled: rgba(189, 192, 197, .5);
$color-dark-grey: #2F2D2D;
$color-dark-grey-hover: #666262;
